body{
    background-image: url("sea-background-image3.jpg");
    background-repeat: no-repeat;
}

.game-title{
    font-family: 'Impact';
    text-align: center;
    margin: 2px;
}

.game-screen{
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: rgba(75, 97, 161, 0.5);
}

.game-over{
    background-color: rgba(207, 135, 20, 0.5);
}

table{
    border: 3px solid black;
}

.zone-button{
    border: 1px solid black;
    width: 95px;
    height: 95px;
    background-color: rgb(128,128,128);
}

.bomb-image{
    border: 1px solid black;
    width: 90px;
    height: 90px; 
}

.no-bomb{
    border: 1px solid rgba(75, 97, 161, 0.5);
    width: 95px;
    height: 95px;
    background-color: rgba(75, 97, 161, 0.5);
}

.panel{
    font-family: 'Impact';
    font-size: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 5px;
}

.reset-button{
    font-family: 'Impact';
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
